.appBar {
    width: 100%;
    padding: 5rem;
    box-sizing: border-box; 
}

.appBar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appBar__title {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    text-decoration: none;
    color: inherit;  
}

.appBar__title:hover {
    opacity: 0.85;
}

.appBar__logo {
    height: 4rem;
    width: auto;
    display: block;
}

.appBar__name {
    font-family: var(--font-title);
    font-size: var(--font-size-mid);
    font-weight: var(--font-weight-regular);
    white-space: nowrap; 
}

.appBar__menu {
    display: flex;
    align-items: center;
    gap: 2rem; 
    margin-right: 5rem;
}

.appBar__navItem {
    font-family: var(--font-main);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-20px);
    line-height: var(--line-height-base);

    color: var(--color-black);
    text-decoration: none;

    padding-bottom: 0.25rem;
}

.appBar__navItem:hover,
.appBar__navItem.active {
    color: var(--color-button);
}
