<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body class="body_centered">
    <div class="register_messages">
    <div th:if="${success}" class="alert alert--success" th:text="${success}"></div>
    <div th:if="${error}" class="alert alert--error" th:text="${error}"></div>
    </div>
    <div class="login_frame">
        <header>
            <div class="title_button">
                <p>Pay My Buddy</p>
            </div>
        </header>

        <form th:action="@{/register}" method="post" class="login_form">

            <input type="text"
                   name="username"
                   placeholder="Username"
                   required />

            <input type="email"
                   name="email"
                   placeholder="Mail"
                   required />

            <input type="password"
                   name="password"
                   placeholder="Mot de passe"
                   required />

        <button type="submit" class="login_button">S'inscrire</button>
        </form>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const messages = document.querySelectorAll(".alert");
        
    messages.forEach(message => {
        setTimeout(() => {
            message.style.opacity = "0";
            message.style.transition = "opacity 0.5s ease";
        setTimeout(() => message.remove(), 500);
        }, 3000);
        });
        });
    </script>
</body>
</html>
